In [14]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv(r"C:\Users\Admin\OneDrive\Desktop\1. Weather Data.csv")
print (df)

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
0        1/1/2012 0:00    -1.8              -3.9         86                4
1        1/1/2012 1:00    -1.8              -3.7         87                4
2        1/1/2012 2:00    -1.8              -3.4         89                7
3        1/1/2012 3:00    -1.5              -3.2         88                6
4        1/1/2012 4:00    -1.5              -3.3         88                7
...                ...     ...               ...        ...              ...
8779  12/31/2012 19:00     0.1              -2.7         81               30
8780  12/31/2012 20:00     0.2              -2.4         83               24
8781  12/31/2012 21:00    -0.5              -1.5         93               28
8782  12/31/2012 22:00    -0.2              -1.8         89               28
8783  12/31/2012 23:00     0.0              -2.1         86               30

      Visibility_km  Press_kPa               Weather
0               8.0     101.24                   Fog
1               8.0     101.24                   Fog
2               4.0     101.26  Freezing Drizzle,Fog
3               4.0     101.27  Freezing Drizzle,Fog
4               4.8     101.23                   Fog
...             ...        ...                   ...
8779            9.7     100.13                  Snow
8780            9.7     100.03                  Snow
8781            4.8      99.95                  Snow
8782            9.7      99.91                  Snow
8783           11.3      99.89                  Snow

[8784 rows x 8 columns]

In [9]:
#Create a SQLite Database and Table
engine = create_engine('sqlite:///weather_data.db')
print(engine)

Engine(sqlite:///weather_data.db)

In [10]:
#Store DataFrame in SQLite
df.to_sql('weather', con=engine, index=False, if_exists='replace')

8784

In [12]:
#Querying the Database
#Find all records where the weather was exactly clear:
query = """
SELECT * FROM weather
WHERE Weather = 'Clear'
"""
result = pd.read_sql_query(query, con=engine)
print(result)

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
0       1/3/2012 19:00   -16.9             -24.8         50               24
1       1/5/2012 18:00    -7.1             -14.4         56               11
2       1/5/2012 19:00    -9.2             -15.4         61                7
3       1/5/2012 20:00    -9.8             -15.7         62                9
4       1/5/2012 21:00    -9.0             -14.8         63               13
...                ...     ...               ...        ...              ...
1321   12/26/2012 6:00   -13.4             -14.8         89                4
1322  12/28/2012 10:00    -6.1              -8.6         82               19
1323   12/29/2012 1:00   -11.9             -13.6         87               11
1324   12/29/2012 2:00   -11.8             -13.1         90               13
1325  12/30/2012 20:00   -13.8             -16.5         80               24

      Visibility_km  Press_kPa Weather
0              25.0     101.74   Clear
1              25.0     100.71   Clear
2              25.0     100.80   Clear
3              25.0     100.83   Clear
4              25.0     100.83   Clear
...             ...        ...     ...
1321           25.0     102.47   Clear
1322           24.1     101.27   Clear
1323           25.0     101.31   Clear
1324           25.0     101.33   Clear
1325           25.0     101.52   Clear

[1326 rows x 8 columns]

In [31]:
#Find the number of times the wind speed was exactly 4 km/hr:

query = """
SELECT COUNT(*) AS count_wind_speed 
FROM weather 
WHERE `Wind Speed_km/h` = 4
"""

# Assuming 'engine' is your SQLAlchemy connection engine
result = pd.read_sql_query(query, con=engine)
print(result)

   count_wind_speed
0               474

In [35]:
#Check if there are any NULL values present in the dataset:
query = """
SELECT * FROM weather
WHERE Weather IS NULL OR 'Wind Speed_km/h' IS NULL OR Visibility_km IS NULL
"""
result = pd.read_sql_query(query, con=engine)
print(result)

Empty DataFrame
Columns: [Date/Time, Temp_C, Dew Point Temp_C, Rel Hum_%, Wind Speed_km/h, Visibility_km, Press_kPa, Weather]
Index: []

In [37]:
#Rename the column "Weather" to "Weather Condition":
# First, rename the column in pandas
df.rename(columns={'Weather': 'Weather Condition'}, inplace=True)

# Then, update the database
df.to_sql('weather', con=engine, index=False, if_exists='replace')
print (df)

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
0        1/1/2012 0:00    -1.8              -3.9         86                4
1        1/1/2012 1:00    -1.8              -3.7         87                4
2        1/1/2012 2:00    -1.8              -3.4         89                7
3        1/1/2012 3:00    -1.5              -3.2         88                6
4        1/1/2012 4:00    -1.5              -3.3         88                7
...                ...     ...               ...        ...              ...
8779  12/31/2012 19:00     0.1              -2.7         81               30
8780  12/31/2012 20:00     0.2              -2.4         83               24
8781  12/31/2012 21:00    -0.5              -1.5         93               28
8782  12/31/2012 22:00    -0.2              -1.8         89               28
8783  12/31/2012 23:00     0.0              -2.1         86               30

      Visibility_km  Press_kPa     Weather Condition
0               8.0     101.24                   Fog
1               8.0     101.24                   Fog
2               4.0     101.26  Freezing Drizzle,Fog
3               4.0     101.27  Freezing Drizzle,Fog
4               4.8     101.23                   Fog
...             ...        ...                   ...
8779            9.7     100.13                  Snow
8780            9.7     100.03                  Snow
8781            4.8      99.95                  Snow
8782            9.7      99.91                  Snow
8783           11.3      99.89                  Snow

[8784 rows x 8 columns]